<!DOCTYPE html>
<html lang="en">
<head>
  
</head>

<body>

<form action="/get_weibull/" method="post">
 {% csrf_token %} 
    <label for="escala">escala </label>
    <input id="escala" type="text" name="escala" value="">


    <label for="forma">forma  </label>
    <input id="forma" type="text" name="forma" value="">
    <input type="submit" value="OK">
</form>

</body>
</html>